<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block title %}
    <title>Adresses</title>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Médical</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:5000/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:5000/liste-infirmiere">Infirmières</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Patients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:5000/adresses">Recherche par adresse</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
    {% block content %}
        <h2 class="py-3">Les adresses en base de données avec correspondance patient(s)/infirmière(s)</h2>

        <div class="row">
            <table class="table" data-toggle="table" data-search="true" >
                <thead>
                    <tr>
                        <th data-sortable="true" data-field="id">
                            ID
                        </th>
                        <th>Numéro et rue</th>
                        <th data-sortable="true" data-field="">Code postal</th>
                        <th data-sortable="true" data-field="ville">Ville</th>
                        <th data-sortable="true" data-field="patient">Patient</th>
                        <th data-sortable="true" data-field="infirmiere">Infirmière</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for id, numero, rue, cp, ville in obj %}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ numero }} {{ rue }}</td>
                        <td>{{ cp }}</td>
                        <td>{{ ville }}</td>
                        <td>{{ patient }}</td>
                        <td>{{ infirmiere }}</td>
                        <td>
                            <a href="http://localhost:5000/adresse_update_form?id={{id}}&numero={{numero}}&rue={{rue}}&cp={{cp}}&ville={{ville}}" class="" title="edit"><i class="fas fa-edit"></i></a>
                            <a href="http://localhost:5000/delete/{{id}}" class="" title="remove"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
</body>
</html>