<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Modifier une adresse</title>
</head>
<body>
  <div class="container">
    {% block content %}
        <h2 class="py-3">Modifier l'adresse</h2>
        <div class="row">
            <form action="http://localhost:5000/adresse_update" method="post">
                <div class="mb-3">
                    <input type="hidden" class="form-control" value="{{data.get('id')}}" name="id">
                </div>
                <div class="mb-3">
                    <label class="form-label">Numéro</label>
                    <input type="text" class="form-control" value="{{data.get('numero')}}" name="numero">
                </div>
                <div class="mb-3">
                    <label class="form-label">Rue</label>
                    <input type="text" class="form-control" value="{{data.get('rue')}}" name="rue">
                </div>
                <div class="mb-3">
                    <label class="form-label">Code postal</label>
                    <input type="text" class="form-control" value="{{data.get('cp')}}" name="cp">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ville</label>
                    <input type="text" class="form-control" value="{{data.get('ville')}}" name="ville">
                </div>
                <input type="submit" class="btn btn-primary" value="envoyer">
            </form>
        </div>
        {% endblock %}
    </div>
</body>
</html>