<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ListeDeplacement</title>
</head>
{% block content %}



<body>
  <div class="row text-center">
    <div class="col-2"></div>
    <div class="col-8">
    {% for id,infirmiere_id, patient_id, date, numero_professionnel, nom_infirmiere,
        prenom_infirmiere, numerosecu_patient,nom_patient,
        prenom_patient, num_adresse, rue_adresse,
        cp_adresse,ville_adresse,cout in obj %}
      <h1>Déplacement de {{numero_professionnel}} {{nom_infirmiere}} {{prenom_infirmiere}}</h1>
      
      <table class="table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Numero Secu Patient</th>
            <th scope="col">Nom du Patient</th>
            <th scope="col">Prenom du Patient</th>
            <th scope="col">Adresse</th>
            <th scope="col">Cout</th>
            <th scope="col">Plus d'actions</th>
          </tr>
        </thead>
      
      <tbody>
        <tr>
            <td>{{date}}</td>
            <td>{{numerosecu_patient}}</td>
            <td> {{nom_patient}}</td>
            <td>{{prenom_patient}}</td>
            <td>{{num_adresse}}  {{rue_adresse}} {{cp_adresse}} {{ville_adresse}}</td>
            <td>{{cout}}</td>
            <td><a class="btn btn-primary btn-sm" role="button" href = "http://localhost:5000/liste_deplacement">Retour</a>
            <a class="btn btn-success btn-sm" role="button" href = "http://localhost:5000/form_add_deplacement">Ajouter un déplacement</a>
            <a class="btn btn-secondary btn-sm" role="button" href = "http://localhost:5000/form_update_deplacement?id={{id}}&patient_id={{patient_id}}&cout={{cout}}&infirmiere_id={{infirmiere_id}}">mettre à jour</a>
            <a class="btn btn-danger btn-sm" role="button" href = "http://localhost:5000/delete_deplacement/{{id}}">supprimer</a>
        </tr>

          {% endfor %}
      </table>
    </div>
    <div class="col-2"></div>
    </div>
{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>