<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block title %}
    <title>Document</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Médical</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:5000/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:5000/liste-infirmiere">Infirmières</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Patients</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <form method="POST" action='http://localhost:5000/addInfirmiere'>
                <div class="mb-3">
                    <label class="form-label">numero professionnel</label>
                    <input class="form-control" type="text" name="numeroProfessionnel">
                </div>
                <div class="mb-3">
                    <label class="form-label">nom</label>
                    <input class="form-control" type="text" name="nom" id="">
                </div>
                <div class="mb-3">
                    <label class="form-label">prenom</label>
                    <input class="form-control" type="text" name="prenom" id="">
                </div>
                <div class="mb-3">
                    <label class="form-label">telPro</label>
                    <input class="form-control" type="text" name="telPro" id="">
                </div>
                <div class="mb-3">
                    <label class="form-label">telephone personnelle</label>
                    <input class="form-control" type="text" name="telPerso" id="">
                </div>
                <div class="mb-3">
                    <label class="form-label">numero maison</label>
                    <input class="form-control" type="text" name="numero" id="">
                </div>
                <div class="mb-3">
                    <label class="form-label">rue</label>
                    <input class="form-control" type="text" name="rue" id="">
                </div>
                <div class="mb-3">
                    <label class="form-label">cp</label>
                    <input class="form-control" type="text" name="cp" id="">
                </div>
                <div class="mb-3">
                    <label class="form-label">ville</label>
                    <input class="form-control" type="text" name="ville" id="">
                </div>
                <button type="submit" class="btn btn-primary">Inserer une infirmiére</button>
            </form>
        </div>
    </div>
    {% endblock %}

</body>
</html>