<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action='/infirmiere-update'>
        {% for id, nom, prenom, numeroProfessionnel, telPro, telPerso, estActive, numero, rue, cp, ville in information_infirmiere %}
        <input type="hidden" value="{{id}}" name="id">
        <label>nom</label>
        <input type="text" name="nom" id="" value="{{nom}}">
        <label>prenom</label>
        <input type="text" name="prenom" id="" value="{{prenom}}">
         <label>numero professionnel</label>
        <input type="text" name="numeroProfessionnel" value="{{numeroProfessionnel}}" disabled>
        <label>telPro</label>
        <input type="text" name="telPro" id="" value="{{telPro}}" disabled>
        <label>telephone personnelle</label>
        <input type="text" name="telPerso" id="" value="{{telPerso}}">
        <label>Statut</label>
        {% if estActive == 1 %}
            <input type="text" name="estActive" id="" value="Activé" disabled >
        {% else %}
            <input type="text" name="estActive" id="" value="Désactivé" disabled >
        {% endif %}
        <label>numero maison</label>
        <input type="text" name="numero" id="" value="{{numero}}">
        <label>rue</label>
        <input type="text" name="rue" id="" value="{{rue}}">
        <label>cp</label>
        <input type="text" name="cp" id="" value="{{cp}}">
        <label>ville</label>
        <input type="text" name="ville" id="" value="{{ville}}">
        <button type="submit">Mette à jour l'infirmiere</button>
        {% endfor %}
    </form>
</body>
</html>