<!DOCTYPE html>
<html lang="en">

<head>
    {% block title%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="row text-center">
        <h2>Mise à jour du déplacement</h2>
        <div class="col-2"></div>
        <div class="col-8">
            <form action="http://localhost:5000/update_deplacement" method="POST">

                <div class="mb-5">
                    <input class="form-control" type="hidden" value="{{data.get('id')}}" name="id">
                </div>

                <div class="mb-5">
                    <label>Id du patient
                        <input type="number" value="{{data.get('patient_id')}}" name="patient_id">
                    </label>
                </div>

                <div class="mb-5">
                    <label>cout du déplacement
                        <input type="number" value="{{data.get('cout')}}" name="cout">
                    </label>
                </div>
                
                <div class="mb-5">
                    <label>id de l'infirmiere
                        <input type="number" value="{{data.get('infirmiere_id')}}" name="infirmiere_id">
                    </label>
                </div>
                <button class="btn btn-primary" type="submit">envoyer</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>