<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ListeDeplacement</title>
</head>
{% block content %}


<body>
   
    <div class="row text-center">
            <h1>Ajout d'un déplacement</h1>
        <div class="col-2"></div>
        <div class="col-8">
        <form action="http://localhost:5000/add_deplacement" method="POST">

            <div class="mb-5">
                <input type="hidden" name="id_deplacement">
            </div>

            <div class="mb-5">
                <label>id du patient
                    <input type="number" name="id_patient">
                </label>
            </div>


            <div class="mb-5">
                <label>date
                    <input type="datetime-local" name="date">
                </label>
            </div>

            <div class="mb-5">
                <label>cout du déplacemement
                    <input type="number" name="cout">
                </label>
            </div>

            <div class="mb-5">
                <label>id_infirmiere
                    <input type="number" name="id_infirmiere">
                </label>
            </div>

            <input class="btn btn-primary" type="submit" value="envoyer">
        </form>
    </div>
        {% endblock %}
        <div class="col-2"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>