<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>ListeDeplacement</title>
</head>
{% block content %}


<body>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <h1>Déplacements de :</h1>
      <h2>{{nom_infirmiere}} {{prenom_infirmiere}} N° pro :{{numero_professionnel}} </h2>
      <table class="table">
        <caption><a class="btn btn-primary" role="button" href="http://localhost:5000/liste_deplacement">Retour</a></caption>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Numero Secu Patient</th>
            <th scope="col">Nom Patient</th>
            <th scope="col">Prenom Patient</th>
            <th scope="col">Adresse</th>
            <th scope="col">Cout</th>
        </tr>
        </thead>

        <tbody>
          {% for id,id_infirmiere, date, numero_professionnel, nom_infirmiere,
          prenom_infirmiere, numerosecu_patient,nom_patient,
          prenom_patient, num_adresse, rue_adresse,
          cp_adresse,ville_adresse,cout in obj %}
          <tr>
            <td>{{date}}</td>

            <td>{{numerosecu_patient}}</td>
            <td> {{nom_patient}}</td>
            <td>{{prenom_patient}}</td>
            <td>{{num_adresse}} {{rue_adresse}} {{cp_adresse}} {{ville_adresse}}</td>
            <td>{{cout}}</td>
          </tr>
         </tbody>
         
          {% endfor %}
         
      </table>
    </div>
</div>
  

  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>